@{
    ViewBag.Title = "Organisaties";
}



<input type="text" id="zoekBalkOrganisaties" onkeyup="zoekFunctieOrganisaties()" placeholder="Zoek op naam..." class="form-control">

<div class="table-container">
    <table class="table table-hover" id="organisatiesTabel">
        <thead>
            <tr>
                <th>
                    <p>Organisatie</p>
                </th>
                <th>
                    <p>Totaal aantal vermeldingen</p>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var organisatie in ViewBag.Organisaties)
            {
                <tr onclick="location.href='@Url.Action("OrganisatieDetails", new { id = organisatie.GemonitordItemId})'">
                    <td>
                        @organisatie.Naam
                    </td>
                    <td>
                        @organisatie.TotaalAantalVermeldingen
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    function zoekFunctieOrganisaties() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("zoekBalkOrganisaties");
        filter = input.value.toUpperCase();
        table = document.getElementById("organisatiesTabel");
        tr = table.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>

