<label>Duid 2 items aan om te kruisen</label>

<div>
    @Html.Action("LaadGemonitordeItems", "Dashboard")
</div>


<div id="divToevoegenOpslaan">
    <button id="btnToevoegenOpslaan" class="btn btn-primary btn-algemene-layout">Opslaan</button>
</div>

<script>

    $("#btnToevoegenOpslaan").click(function () {

        var link;

        var tempLink = '@Html.Raw(Url.Action("LaadPersisteerKruising", "DashboardStatistieken", new
                   {
                       id1 = "replaceItem1",
                       id2 = "replaceItem2",
                      
                   }))';
                    

         var templink2 = tempLink.replace("replaceItem1", $("#item1").val());

         link = templink2.replace("replaceItem2", $("#item2").val());

        

        $.get(link , {}, function (resultaat) {
            $("#elementenStatistieken").append(resultaat);

        });

        $("#modalStatistiekToevoegen").modal('hide');

    });

</script>




