@if (ViewBag.AantalItems == 0)
{
    <div>Er zijn geen gemonitorde items voor dit deelplatform.</div>
}
else
{
    foreach (var item in ViewBag.StatistiekenNietIngelogdViewbag)
    {
        if (item.StatistiekSoort == "getal")
        {
            <div class="col-md-6">

                @Html.Action("LaadGetalViaIdNietOpslaan", "DashboardStatistieken", new { id = item.StatistiekIdNietOpslaan })

            </div>


        }
        else if (item.StatistiekSoort == "getalTrend")
        {
            <div class="col-md-6">

                @Html.Action("LaadGetalTrendViaIdNietOpslaan", "DashboardStatistieken", new { id = item.StatistiekIdNietOpslaan })

            </div>


        }

        else if (item.StatistiekSoort == "kruising")
        {
            <div class="col-md-6">


                @Html.Action("LaadKruisingViaIdNietOpslaan", "DashboardStatistieken", new { id = item.StatistiekIdNietOpslaan })

            </div>
        }

    }

    <div class="col-md-6">
        @Html.Action("LaadTop10NietOpslaan", "DashboardStatistieken")
    </div>
}


