<h4>Statistieken</h4>
<div>
    <select id="statistieken">
        <option hidden selected>Selecteer een optie</option>
        <optgroup label="Getal/Trend (aantal tweets)">
            <option>Getal</option>
            <option>Getal + trend</option>
        </optgroup>
        <optgroup label="Populairste items">
            <option>Populairste items</option>
        </optgroup>
        <optgroup label="Kruising maken">
            <option>Kruising</option>
        </optgroup>
    </select>
</div>

<h4 id="titelKeuze"></h4>
<div id="divInhoud"></div>

<script>
    $("#statistieken").change(function () {

        var keuze = $("#statistieken").val();


        switch (keuze) {
            case "Getal":
                 $.get('@Url.Action("LaadGetalKeuze", "DashboardStatistieken")', {}, function (resultaat) {
                     $("#divInhoud").html(resultaat)
                 });
               break;
            case "Getal + trend":
                $.get('@Url.Action("LaadGetalTrendKeuze", "DashboardStatistieken")', {}, function (resultaat) {
                     $("#divInhoud").html(resultaat)
                 });
                break;
            case "Populairste items":
                 $.get('@Url.Action("LaadPopulairsteItemsKeuze", "DashboardStatistieken")', {}, function (resultaat) {
                     $("#divInhoud").html(resultaat)
                 });
                break;
            case "Kruising":
                $.get('@Url.Action("LaadKruisingKeuze", "DashboardStatistieken")', {}, function (resultaat) {
                    $("#divInhoud").html(resultaat)
                });
        }

        $("#titelKeuze").html(keuze);

    });
</script>


