@foreach (var item in ViewBag.StatistiekenNietIngelogdViewbag)
{
    if (item.StatistiekSoort == "getal")
    {
        <div class="col-md-6">

            @Html.Action("LaadGetalViaId", "DashboardStatistieken", new { id = item.StatistiekId })

        </div>


    }
    else if (item.StatistiekSoort == "getalTrend")
    {
        <div class="col-md-6">

            @Html.Action("LaadGetalTrendViaId", "DashboardStatistieken", new { id = item.StatistiekId })

        </div>


    }
    
    else if (item.StatistiekSoort == "kruising")
    {
        <div class="col-md-6">


            @Html.Action("LaadKruisingViaId", "DashboardStatistieken", new { id = item.StatistiekId })

        </div>
    }

}

<div class="col-md-6">
    @Html.Action("LaadTop10", "DashboardStatistieken")
</div>