@{
    ViewBag.Title = "Index";
}

<h1>Dashboard</h1>

<div class="container" id="elementen">

    @*Rij 1*@
    <div class="row">

        <div class="col-md-11">

        </div>
        <div class="col-md-1">
            <button class="btn btn-primary button-xx-large" id="btnToevoegen" data-target="#modalGrafiekToevoegen" data-toggle="modal">+</button>
        </div>

    </div>

</div>


<div class="modal" id="modalGrafiekToevoegen" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Element toevoegen</h4>
            </div>
            <div class="modal-body" id="divElementToevoegen">

            </div>
        </div>
    </div>

</div>

<div class="modal" id="modalGrafiekAanpassen" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Element aanpassen</h4>
            </div>
            <div class="modal-body" id="divElementAanpassen">

            </div>
        </div>
    </div>

</div>



@section scripts {

    <script src="~/Scripts/Chart.js"></script>
    <script src="~/Scripts/Common.js"></script>


    @Html.Partial("~/Views/Shared/Grafieken/Grafieken.cshtml")
    <script src="~/Scripts/EigenScripts.js"></script>


    <script type="text/javascript">
            $("#btnToevoegen").click(function () {
                $.get('@Url.Action("LaadElementToevoegen", "Dashboard")', {}, function (resultaat) {
                    $("#divElementToevoegen").html(resultaat);
            });
            });
    </script>

}


