<button class="btn btn-primary bewerken" data-target="#modalGrafiekAanpassen" data-toggle="modal">
    <span class="glyphicon glyphicon-pencil"></span>
</button>

<script type="text/javascript">
        $(".bewerken").click(function () {
        $.get('@Url.Action("LaadElementAanpassen", "Dashboard")', {}, function (resultaat) {
            $("#divElementAanpassen").html(resultaat);
        });
        });
</script>