<button class="btn btn-primary bewerken">
    <span class="glyphicon glyphicon-pencil"></span>
</button>

@*<button class="btn btn-primary" id="bewerkenID">
    <span class="glyphicon glyphicon-pencil"></span>
</button>*@