<div>
    <label>Titel grafiek</label>
    <input id="inputTitel" type="text"/>
</div>

<div>
    <label>Titel x-as</label>
    <input id="inputTitelXAs" type="text" />
</div>

<div>
    <label>Titel y-as</label>
    <input id="inputTitelYAs" type="text" />
</div>

<div>
        <button type="button" data-toggle="collapse" data-target="#gi" class="btn btn-primary btn-algemene-layout">Geavanceerde instellingen</button>
        <div id="gi" class="collapse">
            <h4>Geavanceerde instellingen</h4>


            <input type="checkbox" id="chkAssenWisselen">Assen wisselen (als horizontaal staafdiagram weergeven)<br>

            @*<div>
                <label>Schaal aanpassen</label>
                @Html.DropDownList("Beheer", ViewBag.Schaalopties as List<SelectListItem>)
            </div>*@
        </div>
    </div>

<div>
    <button class="btn btn-primary btn-algemene-layout" id="btnAanpassenOpslaan">Opslaan</button>
</div>


@*<script src="~/Scripts/jquery-3.3.1.js"></script>*@



<script src="~/Scripts/EigenScripts.js"></script>

<script type="text/javascript">

    $("#btnAanpassenOpslaan").click(function () {
        var link;

       
        var aanTePassenGrafiek = @Html.Raw(Json.Encode(ViewBag.AanTePassenGrafiek));

        var titel = $("#inputTitel").val();
        var xTitel = $("#inputTitelXAs").val();
        var yTitel = $("#inputTitelYAs").val();

        var typeViewbag;
        var titelViewbag;
        var xTitelViewbag;
        var yTitelViewbag;

        if (titel === null) {
            titelViewbag = aanTePassenGrafiek.Titel;
        } else {
            titelViewbag = titel;
        }

        if (xTitel === null) {
            xTitelViewbag = aanTePassenGrafiek.XTitel;
        } else {
            xTitelViewbag = xTitel;
       }

        if (yTitel === null) {
            yTitelViewbag = aanTePassenGrafiek.YTitel;
        } else {
            yTitelViewbag = yTitel;
        }

        var type = aanTePassenGrafiek.Type;
        if (type === "bar") {
            if (document.getElementById('chkAssenWisselen').checked) {
                typeViewbag = "horizontalBar";
            } else {
                typeViewbag = "bar";
            }
        } else if (type === "horizontalBar") {
            if (document.getElementById('chkAssenWisselen').checked) {
                typeViewbag = "bar";
            } else {
                typeViewbag = "horizontalBar";
            }
        } else {
            typeViewbag = type;
        }

        var grafiekIdViewbag = aanTePassenGrafiek.GrafiekId;

        var toonLegendeViewbag = aanTePassenGrafiek.ToonLegende;
        var toonXAsViewbag = aanTePassenGrafiek.ToonXAs;
        var xOorsprongNulViewbag = aanTePassenGrafiek.XOorsprongNul;
        var yOorsprongNulViewbag = aanTePassenGrafiek.YOorsprongNul;

        var toonYAsViewbag = aanTePassenGrafiek.ToonYAs;
     

        var xLabelsViewbag = aanTePassenGrafiek.XLabels;

        var dataViewbag = aanTePassenGrafiek.Datawaarden;
        var legendelijstViewbag = aanTePassenGrafiek.LegendeLijst;

        var backgroundcolorViewbag = aanTePassenGrafiek.Achtergrondkleur;
        var bordercolorViewbag = aanTePassenGrafiek.Randkleur;


        var FillDatasetViewbag = aanTePassenGrafiek.FillDataset;
        var LijnlegendeweergaveViewbag = aanTePassenGrafiek.Lijnlegendeweergave;
        var XAsMaxrotatieViewbag = aanTePassenGrafiek.XAsMaxrotatie;
        var XAsMinrotatieViewbag = aanTePassenGrafiek.XAsMinrotatie;




        GrafiekOpbouwen(grafiekIdViewbag, titelViewbag, typeViewbag, toonLegendeViewbag, xOorsprongNulViewbag, yOorsprongNulViewbag, toonXAsViewbag, toonYAsViewbag,
            FillDatasetViewbag, LijnlegendeweergaveViewbag, XAsMaxrotatieViewbag, XAsMinrotatieViewbag, xTitelViewbag, yTitelViewbag,
            xLabelsViewbag, legendelijstViewbag[0], legendelijstViewbag[1], legendelijstViewbag[2], legendelijstViewbag[3], legendelijstViewbag[4],
            dataViewbag[0], dataViewbag[1], dataViewbag[2], dataViewbag[3], dataViewbag[4],
            backgroundcolorViewbag[0], backgroundcolorViewbag[1], backgroundcolorViewbag[2], backgroundcolorViewbag[3], backgroundcolorViewbag[4],
            bordercolorViewbag[0], bordercolorViewbag[1], bordercolorViewbag[2], bordercolorViewbag[3], bordercolorViewbag[4]
        );






        var templink = '@Html.Raw(Url.Action("GrafiekAanpassen", "Dashboard", new
                   {
                       id = "replaceId",
                       titel = "replaceGrafiektitel",
                       xTitel = "replaceXTitel",
                       yTitel = "replaceYTitel",
                       type = "replaceGrafiektype"

                   }))'
            .replace("replaceId", grafiekIdViewbag);

        var templink2 = templink.replace("replaceGrafiektitel", titelViewbag);

        var templink3 = templink2.replace("replaceXTitel", xTitelViewbag);

        var templink4 = templink3.replace("replaceYTitel", yTitelViewbag);

        link = templink4.replace("replaceGrafiektype", typeViewbag);



        $.get(link, {}, function () {

        });

        $("#modalGrafiekAanpassen").modal('hide');
        
    });

</script>


