<button class="btn btn-primary verwijderen">
    <span class="glyphicon glyphicon-remove"></span>
</button>

<script type="text/javascript">
    $(".verwijderen").click(function () {
        confirm("Ben je zeker dat je de grafiek wilt verwijderen?")
    });
</script>

@*<button class="btn btn-primary" id="verwijderenID">
        <span class="glyphicon glyphicon-remove"></span>
    </button>*@

