<button class="btn btn-primary verwijderen">
    <span class="glyphicon glyphicon-remove"></span>
</button>

<script type="text/javascript">
    $(".verwijderen").click(function () {
        var grafiekVerwijderen = confirm("Ben je zeker dat je de grafiek wilt verwijderen?");
        if (grafiekVerwijderen == true) {
            myNewBarChart.destroy();

            $(".verwijderen").remove();
            $(".bewerken").remove();

        }
    });
</script>

<script src="~/Scripts/EigenScripts.js"></script>

@*<script type="text/javascript">
        $(".verwijderen").click({ teVerwijderenGrafiek: myNewBarChart }, grafiekVerwijderen);
    </script>*@

@*<script type="text/javascript">
    $(".verwijderen").click(grafiekVerwijderen(myNewBarChart));
</script>**@