<div>
    <label>Thema 1</label>
<<<<<<< HEAD
    @Html.DropDownList("Dashboard", ViewBag.Themas as List<SelectListItem>, new { id = "thema1" })
</div>
=======
    @Html.DropDownList("Dashboard", ViewBag.ThemasViewbag as List<SelectListItem>, new { id = "thema1" })
</div>


>>>>>>> f9fe6585249372e4c52b21672527b21d2bdf6cf0
