@{
    var aantalTweets = 0;
    var aantalVermeldingen = 0;

    var trendTweets = "neutraal";
    var trendVermeldingen = "neutraal";
}

<h3>Item</h3>

<div>
    <div>
        Aantal tweets: @aantalTweets
    </div>
    <div>
        Trend: @trendTweets
    </div>
    <br />
    <div>
        Aantal vermeldingen: @aantalVermeldingen
    </div>
    <div>
        Trend: @trendVermeldingen
    </div>
</div>


