@{
    var aantalTweets = 0;
    var trendTweets = "neutraal";
}

<h3>@ViewBag.Titel</h3>

<div>
    <div>
        Aantal tweets: @aantalTweets
    </div>
    <div>
        Trend: @trendTweets
    </div>

</div>
