@model MVC.Models.Specifieke_Pagina.FAQContactViewModel

<h3>Staat uw vraag nog niet in de FAQ? Stel ze hier!</h3>
<br />
<br />
@using (Html.BeginForm("NieuweVraag", "SpecifiekePagina", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
<div class="form-group col-md-10">
    @Html.TextAreaFor(model => model.Vraag)
</div>
<br />
<br />
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Stel Vraag" class="btn btn-primary btn-algemene-layout" />
    </div>
</div>
}