<div>
    <input type="text" />

    <button class="btn btn-primary">
        <span class="glyphicon glyphicon-search"></span>
        Zoeken
    </button>

    @Html.ActionLink("Ga naar overzichtdetail", MVC.Overzichtdetail.Index(), new { @class = "btn btn-primary btn-algemene-layout" })

</div>


