<h3>Deelplatform aanmaken</h3>
<div>
    <label>Naam</label>
    <input type="text"/>
</div>
<div>
    <label>URL</label>
    <input type="text"/>
</div>
<div>
    <button class="btn btn-primary btn-algemene-layout">Aanmaken</button>
</div>