<h3>Deelplatform aanmaken</h3>
<table class="table">
    <tr>
        <td>
            <label>Naam</label>
        </td>
        <td>
            <input name="tfNaam" type="text" />
        </td>
    </tr>
    <tr>
        <td>
            <label>URL</label>
        </td>
        <td>
            <input type="text" />
        </td>
    </tr>
</table>