<div>
    <div>
        <button id="btnGemonitordeItems" class="btn btn-primary btn-algemene-layout">Gemonitorde items beheren</button>
    </div>
    <div>
        <button id="btnData" class="btn btn-primary btn-algemene-layout">Data importeren en exporteren</button></div>
    <div>
        <button id="btnGebruikersactiviteit" class="btn btn-primary btn-algemene-layout">Gebruikersactiviteit monitoren</button>
    </div>
    <div>
        <button id="btnLayout" class="btn btn-primary btn-algemene-layout" >Layout aanpassen</button>
    </div>
</div>
