<div>
    
    <canvas id="lineChartAantalTweets" height="250"></canvas>

</div>

<script>


    var dagen = @Html.Raw(Json.Encode(ViewBag.ItemDagen));
    var aantalTweets = @Html.Raw(Json.Encode(ViewBag.ItemAantalTweets));
    var grafiekTitel = @Html.Raw(Json.Encode(ViewBag.Grafiektitel));

<<<<<<< HEAD
    var ctx = $("#lineChartAantalTweets");
    var myLineChart = new Chart(ctx, {

        options: {
            title: {
                display: true,
                text: grafiekTitel + " - aantal tweets",
                fontSize: 18
            },
            legend: {
                display: false
            },

            scales: {
                xAxes: [{
                    ticks: {
                        autoSkip: false,
                        maxRotation: 90,
                        minRotation: 90
                    }
                }]
            }
=======

>>>>>>> f9fe6585249372e4c52b21672527b21d2bdf6cf0

    GrafiekOpbouwen("lineChartAantalTweets", grafiekTitel, "line", false, true, true, true, true, false, true, 90, 0, "x", "y", dagen,
    null, null, null, null, null, aantalTweets, null, null, null, null, null, null, null, null, null, null, null, null, null, null)


</script>



@*<script>
        function grafiekVerwijderen(id) {
            var lengteId = id.substring(id.indexOf("-") + 1, id.length - 1).length;
            var subid;

            if (lengteId == 0) {
                subid = id.substring(id.length - 1);
            } else if (lengteId > 0) {
                subid = id.substring(id.indexOf("-") + 1, id.length - 1);
            }
<<<<<<< HEAD
        ]
        }
    });
</script>
=======

            var grafiekVerwijderen = confirm("Ben je zeker dat je de grafiek wilt verwijderen?");
            if (grafiekVerwijderen == true) {
                $("canvas#" + subid).remove()

                $("#verwijderen-" + subid).remove();
                $("#bewerken-" + subid).remove();

            }
        }

        function grafiekBewerken(id) {

            var lengteId = id.substring(id.indexOf("-") + 1, id.length - 1).length;
            var subid;

            if (lengteId == 0) {
                subid = id.substring(id.length - 1);
            } else if (lengteId > 0) {
                subid = id.substring(id.indexOf("-") + 1, id.length - 1);
            }


            $("#modalGrafiekAanpassen").modal();

            $.get('@Url.Action("LaadGrafiekAanpassen", "Dashboard")', {}, function (resultaat) {
                $("#divGrafiekAanpassen").html(resultaat);
            });

        }

    </script>*@
>>>>>>> f9fe6585249372e4c52b21672527b21d2bdf6cf0
