<div>
    <label>Organisatie 1</label>
<<<<<<< HEAD
    @Html.DropDownList("Dashboard", ViewBag.Organisaties as List<SelectListItem>, new { id = "organisatie1" })
</div>
=======
    @Html.DropDownList("Dashboard", ViewBag.OrganisatiesViewbag as List<SelectListItem>, new { id = "organisatie1" })
</div>



>>>>>>> f9fe6585249372e4c52b21672527b21d2bdf6cf0
