<h3>Data importeren</h3>

<div>
    <input type="file" />
    @*<button class="btn btn-primary btn-algemene-layout" id="btnCSVImporteren">CSV-bestand importeren</button>*@
    <button class="btn btn-primary btn-algemene-layout">Uploaden</button>
</div>

<h3>Data exporteren</h3>

<div>
    <button class="btn btn-primary btn-algemene-layout">Exporteren naar CSV-bestand</button>
</div>


