<h3>Layout aanpassen</h3>

<div>
    <label>Kleur achtergrond</label>
    <input id="colorID" type="color" />
</div>

<div>
    <label>Naam onderwerp</label>
    <input type="text" />
</div>

<div>
    <label>Afbeelding startscherm</label>
    <input type="file" />
</div>

<div>
    <button id="btnOpslaan" class="btn btn-primary btn-algemene-layout">Opslaan</button>
</div>

@*<script type="text/javascript">
        $("#colorID").change(function () {
            var clr = $(this).val();
            $("body").css("background-color", clr);
        });
    </script>*@

<script type="text/javascript">
    $("#btnOpslaan").click(function () {
        var clr = $("#colorID").val();
        $("body").css("background-color", clr);
    });
</script>



