@{
    ViewBag.Title = "Home Page";
}

<h1>Deelplatformen</h1>

<div class="container" id="elementen">

    @foreach (var item in ViewBag.Deelplatformen)
    {
      string naam = item.Naam;
      <div class="row">
          @Html.ActionLink(naam, "Index", "Dashboard", new { id = item.DeelplatformId }, null)
      </div>
    }

</div>


