@{
  ViewBag.Title = "WeeklyReview";
}

<h1>Weekly review</h1>

<div>
    <h3 class="weekly-review">Totaal aantal berichten</h3>
</div>

<div>
    <h3 class="weekly-review">Trends</h3>
</div>

<div>
    <h3 class="weekly-review">Verhalen</h3>
</div>

<div>
    <h3 class="weekly-review">Termen</h3>
</div>








