<div>
    <label>Persoon 1</label>
    @Html.DropDownList("Dashboard", ViewBag.Personen as List<SelectListItem>, new { id = "persoon1" })
</div>

<div>
    <label>Persoon 2</label>
    @Html.DropDownList("Dashboard", ViewBag.Personen as List<SelectListItem>, new { id = "persoon2" })
</div>