<div>
    <label>Persoon 1</label>
<<<<<<< HEAD
    @*@Html.DropDownList("Dashboard", ViewBag.Personen as List<SelectListItem>, new { id = "persoon1" })*@
    @Html.DropDownList("Dashboard", ViewBag.Personen as List<SelectListItem>, new { id = "persoon1" })
</div>
=======
    @Html.DropDownList("Dashboard", ViewBag.PersonenViewbag as List<SelectListItem>, new { id = "persoon1" })

</div>



>>>>>>> f9fe6585249372e4c52b21672527b21d2bdf6cf0
